<h1>Products Page</h1>
<p>What do you want to see?</p>

<div ng-controller="ProductCtrl as ctrl">
	<h3>{{ctrl.greeting}}</h3>
	<form>
		<input type="text" ng-model="myText">
	</form>
	{{myText}}
</div>
